

.react-hook-form form {
  max-width: 500px;
  margin: 0 auto;
}

.react-hook-form h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

.react-hook-form .form {
  background: #0e101c;
  max-width: 400px;
  margin: 0 auto;
}

.react-hook-form p {
  color: #bf1650;
}

.react-hook-form p::before {
  display: inline;
  content: "⚠ ";
}

.react-hook-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.react-hook-form label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.react-hook-form button[type="submit"],
.react-hook-form input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.react-hook-form button[type="submit"]:hover,
.react-hook-form input[type="submit"]:hover {
  background: #bf1650;
}

.react-hook-form button[type="submit"]:active,
.react-hook-form input[type="button"]:active,
.react-hook-form input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.react-hook-form input:disabled {
  opacity: 0.4;
}

.react-hook-form input[type="button"]:hover {
  transition: 0.3s all;
}

.react-hook-form button[type="submit"],
.react-hook-form input[type="button"],
.react-hook-form input[type="submit"] {
  -webkit-appearance: none;
}



.react-hook-form button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.react-hook-form hr {
  margin-top: 30px;
}

.react-hook-form button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px !important;
  border-radius: 4px;
}
